<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/bootstrap.css">
</head>
<body>

<div style="background:yellow;text-align:center">
    <h1>Header</h1>
    <div>
    {{username}}
</div>

</div>

{% block content %} {% endblock %}

<div style="background:grey;text-align:center">
    <h1>Footer</h1>
</div>

</body>
</html>